{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "rules": {
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}